a:active, a:focus {
  outline: none;
}
.carousel {
    position: relative;
}
.carousel a{
    text-decoration: none;
}
.carousel-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.carousel-inner > .item {
    display: none;
    position: relative;
    transition: left 0.6s ease-in-out 0s;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    line-height: 1;
    max-width: 100%;
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .active.left {
    left: -100%;
}
.carousel-inner > .active.right {
    left: 100%;
}
.carousel-control {
    bottom: 0;
    color: #FFFFFF;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 15%;
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    background-repeat: repeat-x;
}
.carousel-control.right {
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    left: auto;
    right: 0;
}
.carousel-control:hover, .carousel-control:focus {
    color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.carousel-control .icon-prev, .carousel-control .icon-next {
    font-family: serif;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    width: 20px;
}
.carousel-control .icon-prev:before {
    content: "‹";
}
.carousel-control .icon-next:before {
    content: "›";
}
.carousel-mini .carousel-control {
    color: #555555;
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    left: auto;
    line-height: 16px;
    margin-top: 0;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 0;
    width: 10px;
}
.carousel-mini .carousel-control.right {
    right: 0;
		background-image: none;
}
.carousel-mini .carousel-control.left {
		background-image: none;
}
.carousel-mini .carousel-control:hover, .carousel-mini .carousel-control:focus {
    background-color: #FFFFFF;
    color: #999999;
    text-decoration: none;
}
.carousel-indicators {
    bottom: 10px!important;
    left: 50%;
    list-style: none outside none;
    margin-left: -30%!important;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: 60%;
    z-index: 15;
}
.carousel-indicators li {
    border: 1px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    width: 10px;
}
.carousel-indicators .active {
    background-color: #FFFFFF;
    height: 12px;
    margin: 0;
    width: 12px;
}
.carousel-caption {
    bottom: 20px;
    color: #FFFFFF;
    left: 15%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    right: 15%;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    z-index: 10;
}
.carousel-caption .btn {
    text-shadow: none;
}
@media screen and (min-width: 768px) {
.carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
}
.carousel-caption {
    left: 20%;
    padding-bottom: 30px;
    right: 20%;
}
.carousel-indicators {
    bottom: 20px;
}
}